.menu {
    margin-bottom : 20px;
}
.menuitem {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    margin-right: 1px;
    margin-bottom : 2px;
    margin-top : 10px;
    
    text-align: center;
    line-height: 300%;
    height: 300%;

    
    
    font-family: Verdana, sans-serif;
    font-size : 18px;
    
    
}
.menuitem:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8caca+0,c9b5b5+99 */
    background: rgb(216,202,202); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(216,202,202,1) 0%, rgba(201,181,181,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,202,202,1)), color-stop(99%,rgba(201,181,181,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(216,202,202,1) 0%,rgba(201,181,181,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(216,202,202,1) 0%,rgba(201,181,181,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(216,202,202,1) 0%,rgba(201,181,181,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(216,202,202,1) 0%,rgba(201,181,181,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8caca', endColorstr='#c9b5b5',GradientType=0 ); /* IE6-9 */

    text-decoration:none;
}
@media(max-width:767px){
    .menuitem{
        background: none;
        margin : 0;
    }
    .menuitem:hover{
        background: none;
    }
}

.menuitem a:hover, a:visited, a:link, a:active {
    text-decoration:none;
}
.dropdown-toggle a:hover, a:visited, a:link, a:active {
    text-decoration:none;
}
